<div class="sidebar-right">
    <ul>
        <li class="sidebar-item">
            <a class="help-button" onclick="navigateTo('help')">
                <img src="/frontend/assets/ajudando.svg" alt="Ajuda" class="sidebar-icon">
                    Ajuda
            </a>
        </li>
        <li class="sidebar-item">
            <a class="about-button" onclick="navigateTo('about')">
                <img src="/frontend/assets/informacoes.svg" alt="Sobre" class="sidebar-icon">
                Sobre
            </a>
        </li>
    </ul>
</div>
