<div class="sidebar-left">
    <ul>
        <li class="sidebar-item user-info">
            <div class="user-avatar" onclick="navigateTo('profile')">
                <img src="/frontend/assets/do-utilizador.svg" alt="Avatar do Usuário" class="avatar">
            </div>
            <span class="user-name" id="sidebar-user-name" onclick="navigateTo('profile')">Visitante</span>
        </li>
        <li class="sidebar-item">
            <a href="#" onclick="navigateTo('home')">
                <img src="/frontend/assets/casa.svg" alt="Página Inicial" class="sidebar-icon">
                Página Inicial
            </a>
        </li>
        <li class="sidebar-item">
            <button class="create-post-button" onclick="openCreatePostModal()">
                Criar Post
            </button>
        </li>
    </ul>
</div>

