<div class="sidebar-left">
    <ul>
        <li class="sidebar-item user-info">
            <div class="user-avatar" onclick="navigateTo('profile')">
                <img src="/frontend/assets/do-utilizador.svg" alt="Avatar do Usuário" class="avatar">
            </div>
            <span class="user-name" id="sidebar-user-name" onclick="navigateTo('profile')">Visitante</span>
        </li>
        <li class="sidebar-item">
            <a href="#" onclick="navigateTo('home')">
                <img src="/frontend/assets/casa.svg" alt="Página Inicial" class="sidebar-icon">
                Página Inicial
            </a>
        </li>
        <li class="sidebar-item">
            <button class="create-post-button" onclick="openCreatePostModal()">
                Criar Post
            </button>
        </li>
        <li class="sidebar-item">
            <button class="create-post-button" onclick="navigateTo('my-posts')">
                Meus Posts
            </button>
        </li>
    </ul>
    <hr class="sidebar-separator">
    <li class="sidebar-item sidebar-title" style="pointer-events:none; opacity:0.7;">
        Atividades Recentes
    </li>
    <ul id="recent-activities-list" class="recent-activities-list"></ul>
</div>

